doctype html

html
    head
        title Admin - E-Liquid Manager
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        block styles
            link(rel="stylesheet", href="/vendor/normalize/normalize.css")
            link(rel="stylesheet", href="/vendor/animate/animate.css")
            link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Poiret+One|Slabo+27px", rel="stylesheet")
            link(href="/css/admin.css", rel="stylesheet")
    body.theme-dark
        header#main-header
            h1#brand
                a(href="/admin") E-Liquid Manager - Admin

            a(href="#")#mobile-menu-toggle
                span menu
            ul#menu
                li
                    a(href="/admin/users") Users
                li
                    a(href="/admin/flavours") Flavours
                li
                    a(href="/admin/flavourvendors") Vendors
                li
                    a(href="/") Go to app
                li
                    a(href="/logout") Logout
        div.admin-page
            block content
        block scripts
            script(src="/vendor/jquery/jquery.js")
            script(src="/js/mobile-menu.js")
