doctype html

html
    head
        title E-Liquid Manager
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        block styles
            link(rel="stylesheet", href="/vendor/normalize/normalize.css")
            link(rel="stylesheet", href="/vendor/animate/animate.css")
            link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Poiret+One|Slabo+27px", rel="stylesheet")
    body
        block content
        block scripts
            script(src="/vendor/jquery/jquery.js")
