doctype html

html
    head
        title E-Liquid Manager
        block styles
            link(rel="stylesheet", href="/vendor/normalize/normalize.css")
            link(rel="stylesheet", href="/vendor/animate/animate.css")
            link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Poiret+One|Slabo+27px", rel="stylesheet")
    body
        block content
        block scripts
