@import "colors";
@import "media-queries";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  color: $dark-blue;
}

.number {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Slabo 27px', serif;
}

.hide-tablet-landscape {
  @media #{$breakpoint-tablet-landscape} {
    display: none;
  }
}

.hide-phone {
  @media #{$breakpoint-phone} {
    display: none;
  }
}
