@import "colors";

button,
input[type='submit'] {
  outline: 0;
  border-radius: 4px;
  background: $white;
  color: $dark-blue;
  border: 1px solid $white;
  padding: 10px;
  cursor: pointer;

  transition: color 0.2s ease, background 0.2s ease;

  &:hover {
    color: $white;
    background: $dark-blue;
  }

  &.expand {
    width: 100%;
  }

  &.primary {
    background: $primary;
    color: $white;
    border: 1px solid $primary;

    &:hover {
      color: $primary;
      background: transparent;
    }
  }

  &.warning {
    color: $white;
    background: $warning;
    border: 1px solid $warning;

    &:hover {
      background-color: transparent;
      color: $warning;
    }
  }
}
