@import "base";

@import "forms";
@import "header";

body {
  min-height: 100vh;
}

.admin-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 40px;

  h1 {
    font-family: "Poiret One", cursive;
  }
}

.item-list {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  .item {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    $i: 100;
    @while $i > 0 {
      .col-#{$i} {
        flex: $i + 0%;
      }

      $i: $i - 5;
    }

    .col-fit {
      flex: 1;
    }
  }
}
