*, *:after, *:before {
  box-sizing: border-box; }

body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50; }

.number {
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Slabo 27px', serif; }

@media (max-width: 1023px) {
  .hide-tablet-landscape {
    display: none; } }

@media (max-width: 500px) {
  .hide-phone {
    display: none; } }

button,
input[type='submit'] {
  outline: 0;
  border-radius: 4px;
  background: #fefefe;
  color: #2c3e50;
  border: 1px solid #fefefe;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease, background 0.2s ease;
  transition: color 0.2s ease, background 0.2s ease; }
  button:hover,
  input[type='submit']:hover {
    color: #fefefe;
    background: #2c3e50; }
  button.expand,
  input[type='submit'].expand {
    width: 100%; }
  button.primary,
  input[type='submit'].primary {
    background: #2ecc71;
    color: #fefefe;
    border: 1px solid #2ecc71; }
    button.primary:hover,
    input[type='submit'].primary:hover {
      color: #2ecc71;
      background: transparent; }
  button.warning,
  input[type='submit'].warning {
    color: #fefefe;
    background: #e74c3c;
    border: 1px solid #e74c3c; }
    button.warning:hover,
    input[type='submit'].warning:hover {
      background-color: transparent;
      color: #e74c3c; }

body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
  width: 100%;
  height: 100vh;
  background-image: url(../img/login-bg.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  body #login-box {
    width: 400px;
    max-width: 90%;
    background-color: rgba(254, 254, 254, 0.8);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5); }
    body #login-box header h1 {
      font-family: "Poiret One", sans-serif;
      text-align: center; }
    body #login-box form {
      width: 100%; }
      body #login-box form label {
        display: block; }
        body #login-box form label input {
          width: 100%;
          height: 40px;
          margin-bottom: 20px;
          line-height: 40px;
          padding-left: 10px;
          border: 1px solid #ccc; }
      body #login-box form .actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
