template#searchable-list-tpl
    .searchable-list
        .searchable-list--search-container
            .form-field
                label
                    | Search:
                    br
                    input(type='text', v-model='search')
        ul.searchable-list--search-results
            li.searchable-list--search-result(v-for='r in results', @click.prevent='onItemClicked(r)')
                | {{ displayName(r) }}
